<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796822342368-589j18fd95avd179rmrm4f0qomn2utf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796822342368-589j18fd95avd179rmrm4f0qomn2utf3</string>
	<key>API_KEY</key>
	<string>AIzaSyA5NqBT30rFLspUWS3sFxMHVfj_N1guh9k</string>
	<key>GCM_SENDER_ID</key>
	<string>796822342368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.A1distribution.all</string>
	<key>PROJECT_ID</key>
	<string>searchpoint-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>searchpoint-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796822342368:ios:3de10d3136877ab5ac9e85</string>
	<key>DATABASE_URL</key>
	<string>https://searchpoint-dev.firebaseio.com</string>
</dict>
</plist>