<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266140683361-ma9ier77vrlk7cectvec3ccqlaclaarg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266140683361-ma9ier77vrlk7cectvec3ccqlaclaarg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>266140683361-p9ubc93pdam1fgloc5nd67bbqfghetmn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZVXYYayOPpPk1ZOfo-YMuejgNSHQjWb4</string>
	<key>GCM_SENDER_ID</key>
	<string>266140683361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mp.SearchPoint</string>
	<key>PROJECT_ID</key>
	<string>searchpoint-uat-new</string>
	<key>STORAGE_BUCKET</key>
	<string>searchpoint-uat-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266140683361:ios:8d99cbfc4ae7f593096e20</string>
</dict>
</plist>